Paper/*.aux
Paper/*.bbl
Paper/*.blg
Paper/*.dvi
Paper/*.log
Paper/*.synctex.gz
Paper/*.tex.undo
Paper/*.bat

/HonoursResearchApplication/nbproject/private/
/Experiments/HonoursResearchApplication/build/
/Experiments/HonoursResearchApplication/dist/
/PSNRCalculate/nbproject/private/
/PSNRCalculate/build/